/* Switch container */
.switch {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 34px;
}

/* Hide the default checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: gray;

    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

/* Styling when checked */
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #21f33a;
}

input:focus+.slider {
    box-shadow: 0 0 1px #21f33a;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
input:checked+.red {
    background-color: #cf4e23;
}

input:focus+.red {
    box-shadow: 0 0 1px #cf4e23;
}

input:checked+.red:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
input:checked+.blue {
    background-color: #2196F3;
}

input:focus+.blue {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.blue:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

